@font-face {
    font-family: "weapons";
    src: url(/res/csgo_icons.ttf) format("truetype");
}
/* GENERAL */
body{
    background: black;
    font-family: 'Roboto';
    font-weight: 100;
    margin: 0;
    padding: 0;
    color: white;
}
h2 {
    padding: 0;
    margin: 0;
    
}
h3 {
    margin: 0; 
    padding: 0;
}
* {
  box-sizing: border-box;
}


#center{
   position: absolute;
   top: 50%;
   margin-top: -65px;
   left: 0;
   width: 100%;
}
.container{
    height: 30px;
    display: inline-block;
}
#logo{
    position: absolute;
    left: 20px;
    top: 20px;
}
#profile{
    width: 100%;
}
#profilepic{
    margin: 0 auto;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 2px solid white;
    
    
}
#profilename{
    width: 100%;
    text-align: center;
    margin-top: -30px;
}
#profilename h1{
    font-weight: 100 !important;
    font-size: 60px;
}
.container{
    background: red;
    height: 30px;
    display: inline-block;
}
#container_data{
    height: 600px;
    width: 800px;;
    background-color: black;
    margin: 0 auto;
    margin-top: 40px;
}
#search{
    margin: 0 auto;
    width: 550px;
    text-align: center;
}
#search h1{
        color: white;
        font-weight: 100;
        font-size: 2rem;
        
    }
#search input[type="text"]{
        color: #052F43;
        width:89%;
        height: 35px;
        background-color: white;
        padding-left: 5px;
        transition: all .5s;
        display: inline-block;
        border: 0;
        vertical-align: top;
        outline: 0;
    }
#search input[type="text"]:focus {
        box-shadow: inset black 0px 0px 5px;
        outline: 0;
    }

    #search input[type="submit"]{
        width: 10%;
        display: inline-block;
        height: 35px;
        background: white;
        border: 0;
        cursor: pointer;
        color: #052F43;
        font-size: 1.3rem;
        vertical-align: top;
        transition: all .5s;
    }
#search input[type="submit"]:hover{
        box-shadow: inset black 0px 0px 5px;       
    }
#killdeathratio{
    height: 100px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
#killdeathratio_outer{
    background-color: black;
    border: 2px solid white;
    height: 30px;
    width: 100%;
}
#killdeathratio_inner{
    background-color:white;
    height: 30px;
    position: relative;
    top: -30px;
}
#killdeathratio_number{
    color: black;
    position: relative;
    top: 2px;
    padding-left: 5px;
}
#mainstats{
    height: 60px;
    width: 800px;
    margin: 0 auto;
}
.mainstat{
    background: url('/res/border.png');
    width:  20%;
    height: inherit;
    display:inline-block;
    background-repeat: no-repeat;
    padding-top: 2px;
    padding-left: 5px;
    
}
.mainstat h2{
    margin: 0;
    margin-top: -2px;
}
.mainstat h1{
    margin: 0;
    color: #0e75ec;
    margin-top: -10px !important;
}
#fav_weapons .fav_weapon{
    display: inline-block;
    margin: 0px 8px 5px 0px;
}
#fav_weapons .weaponnumber{
    background: white;
    width: 45px;
    height: 45px;
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
    vertical-align: center;
    line-height: 45px;
}
#fav_weapons .weaponnumber h2{
    color: black;
    text-align: center;
    
}
.weaponinfo h3{
    font-size: 1.6rem
}
.weapon_kills{
    font-size: 1.2rem
}
#fav_weapons .weaponinfo{
    display: inline-block;
    vertical-align: top;
    margin-left: 7px;
}
#fav_weapons h2{
    margin-bottom: 10px;
}
#fav_weapons .icon{
    font-family: "weapons";
    font-size: 3.1rem;
    display: inline-block;
    margin-left: 7px;
    vertical-align: top;
}


@media screen and (max-width: 560px){
    #search{
        width: 100%;
    }
}
